@keyframes hide2show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes jump {
	0% {
		transform: translateY(0.25em);
	}
	50% {
		transform: translateY(-0.25em);
	}
	100% {
		transform: translateY(0);
	}
}

.hide2show-animation {
	animation: hide2show 0.5s ease 0s 1;
}

@keyframes rotate360 {
	to {
		transform: rotate(360deg);
	}
}